//media query

@media (min-width: 1200px) {
  .about-h1 {
    font-size: 6em;
  }

  .found-us h1 {
    font-size: 6em;
  }
}

@media (max-width: 967px) {
  .lozenge {
    display: none;
  }

  .hero-p {
    display: none;
  }

  .about {
    min-height: 300px;
    padding: 50px 50px;

    background: none;
  }

  .found-us {
    background: none;
  }

  .room-info-ul {
    list-style: disc;
  }

  .second-loz {
    margin: 0 2vw;
    width: 135px;
  }

  .modal-title{
    font-size: 2rem;
  }

  .route p {
    padding: 30px;
  }

  .btn {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
}

@media (max-width: 400px) {
  .gallery {
    margin-top: 222px;
  }
}

@media (min-width: 400px) {
  .found-us {
    height: 300px;
  }
}