
//Colors
$brand-primary: #000000;
$brand-secondary: #00aeff;
$text-color: #2f2f2f;

$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 15%);

//Type

$main-font-family: 'TalbotTypeKamerik105CyrillicLight', sans-serif;
$main-font-family-italic: 'TalbotTypeKamerik105CyrillicLightOblique', sans-serif;

$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25));// ~18px
$font-size-small: ceil(($font-size-base * 0.85));// ~12px

$font-size-brand: floor(($font-size-base * 4));
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

$line-height-base: 1.7;

$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.1) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .9 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    1300px !default;
$modal-md:                    1100px !default;
$modal-sm:                    300px !default;

