
//Colors
$brand-primary: #000000;
$brand-secondary: #00aeff;
$text-color: #2f2f2f;

$link-color: $brand-primary;
$link-hover-color: darken($brand-primary, 15%);

//Type

$main-font-family: 'TalbotTypeKamerik105CyrillicLight', sans-serif;
$main-font-family-italic: 'TalbotTypeKamerik105CyrillicLightOblique', sans-serif;

$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25));// ~18px
$font-size-small: ceil(($font-size-base * 0.85));// ~12px

$font-size-brand: floor(($font-size-base * 4));
$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

$line-height-base: 1.7;

$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px