@font-face {
  font-family: 'TalbotTypeKamerik105CyrillicLight';
  src: url('../fonts/TalbotTypeKamerik105CyrillicLight.eot');
  src: url('../fonts/TalbotTypeKamerik105CyrillicLight.eot') format('embedded-opentype'),
  url('../fonts/TalbotTypeKamerik105CyrillicLight.woff2') format('woff2'),
  url('../fonts/TalbotTypeKamerik105CyrillicLight.woff') format('woff'),
  url('../fonts/TalbotTypeKamerik105CyrillicLight.ttf') format('truetype'),
  url('../fonts/TalbotTypeKamerik105CyrillicLight.svg#TalbotTypeKamerik105CyrillicLight') format('svg');
}

@font-face {
  font-family: 'TalbotTypeKamerik105CyrillicLightOblique';
  src: url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.eot');
  src: url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.eot') format('embedded-opentype'),
  url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.woff2') format('woff2'),
  url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.woff') format('woff'),
  url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.ttf') format('truetype'),
  url('../fonts/TalbotTypeKamerik105CyrillicLightOblique.svg#TalbotTypeKamerik105CyrillicLightOblique') format('svg');
}

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font-family; // Kamerlik
  line-height: $line-height-base; // 1.7
  font-size: $font-size-base; // 14px

  color: $text-color; // black
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h1, h2, h3 {
  font-weight: 300;

}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

p {
  letter-spacing: 1px;
}

a,
a:link,
a:visited,
a:active,{
  color: $brand-primary;

}

a:hover,
a:focus {
  color: lighten($brand-primary, 50%);
  outline: none;
}

//header logo and language switcher

.site-nav {
  height: 30px;
  padding: 10px;

  background-color: white;

  text-align: center;
}

.logo-header {
  width: 145px;
}

.lang {
  float:right;
  padding-right: 15px;
  line-height: 2.5;
}

//hero slider

.hero {
  position: relative;
  text-align: center;
  margin-top: 15px;

}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  z-index: 1;
}

.hero-h1 {
  margin-bottom: 0;

  font-size: 7vw;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
  line-height: 1;
}

.hero-p {
  display: block;
  max-width: 50vw;
  padding: 10px;
  margin: 0 auto;

  font-size: 1.2em;
  color: #FFF;
  text-shadow: 1px 1px black;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: 100%;
}

// About section

.about {
  min-height: 400px;
  padding: 100px 50px;

  background: url("../img/section-bg.svg")
              no-repeat
              center;

  background-size: cover;
}

.about-h1 {
  margin-bottom: 0;

  text-align: center;
  font-size: 7vw;
  line-height: 1;
  text-transform: uppercase;
}

//tabs

.tabbedPanels p {
  display: block;
  margin: 0 auto;
}

article h2 {
  text-align: center;
}

.lozenge {
  width: 100%;
  clip-path: polygon(50% 0%, 95% 50%, 50% 100%, 5% 50%);
}

.tabs-ul h2 {
  display: block;
  padding: 20px 20px 20px 40px;

  font-size: 1.5em;
}

.boxes {
  position: relative;
}

.gallery {
  margin-top: 1.5em;
}

//contacts
.contacts {
  margin-top: 3em;
}

.found-us {
  background: url("../img/section-bg2.svg")
              no-repeat
              center;

  background-size: cover;
}

.found-us h1 {
  margin-bottom: 0;

  font-size: 6vw;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}

.found-us h2{
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
}

//route block with yandex map and video
.route h3{
  text-align: center;
  line-height: 3;
}

#map {
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
}

.route h2{
  text-align: center;
  line-height: 3;
}

.mail-phone {
  text-align: center;
}

.mail-phone a {
  padding: 0 10px;
  text-decoration: underline;
}

//site footer

.site-footer{
  margin-top: 2em;
}

.other-staff {
  text-align: center;
}

.first-loz,
.second-loz,
.third-loz {
  display: inline-block;
  position: relative;
  width: 80px;
}

.first-loz p,
.second-loz p,
.third-loz p {
  display: block;
  position: absolute;
  
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
}

.second-loz {
  margin: 0 3vw;
  width: 150px;
}


//media query

@media (min-width: 1200px) {
  .about-h1 {
    font-size: 6em;
  }

  .found-us h1 {
    font-size: 6em;
  }
}

@media (max-width: 967px) {
 .lozenge {
   display: none;
 }
  .hero-p {
    display: none;
  }
}


